body {
  background: radial-gradient(circle, #333, #000);
  width: 100vw;
  height: 95vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#container {
  width: 90%;
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-bottom: 4rem;
}

#container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .link-card {
    width: 50%;
  }
}

.link-card {
  padding: 1rem 2rem;
  border: 1px solid #555;
  border-radius: 10%;
  display: block;
  max-width: 350px;
  text-decoration: none;
  color: white;
  margin: 1rem;
  width: 100%;
}

.link-card:hover {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.link-card p {
  opacity: 0.8;
}

#card1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#card2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
