#container {
  max-width: 350px;
  margin: 2rem auto;
  text-align: center;
}

.link-card {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 10%;
  display: block;
  max-width: 250px;
  text-decoration: none;
  color: #000000;
  margin: 2rem;
}

.link-card:hover {
  background-color: #ddd;
}

.link-card p {
  opacity: 0.8;
}
